*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 /* banner-section-Start-hare */
.banner-1{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: rgba(247, 88, 122, 0.441);
    height:100%;
    
}
.banner-content{
    margin-left: 100px;
}
.banner-photo{
    padding: 10% 5% 0% 5%; 
}
.banner-title{
    color: #272727;
    font-size: 80px;
    padding: 10px;
}
.banner-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 10px;
 }
 .pramiry{
    border: none;
    background-color: palevioletred;
    padding: 20px;
    border-radius: 3px;
    color: white;
    margin: 10px;
}
.pramiry:hover{
    background-color: rgb(184, 94, 124);
}
 /* banner-section-end-hare */
/* featured-section-start-hare */
 .featured-section{
    text-align: center;
    padding: 100px;

 }
 .featured-photo-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
 }
 .featured-content{
    width: 55%;
    margin: auto;
 }
 .featured-photo{
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
 }
 .featured-photo-1{
    background: rgba(167, 33, 98, 0.15);
 }
 .featured-photo-2{
    background: rgba(5, 151, 160, 0.15);
 }
 .featured-photo-3{
    background: rgba(71, 125, 17, 0.15);
 }
 .featured-img{
    width: 364px;
    height: 438px;
    margin-top: 100px;
 }
 .featured-ancor{
    margin: 10px;
    padding: 10px;
    font-weight: bold;
 }
 .featured-a{
    color: #272727;
    font-weight: bold;
    font-size: 20px;
 }
 .featured-title{
    font-size: 50px;
 }
 /* featured-section-end-hare */
/* start-service-section */
.service-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c4c4;
    padding: 100px;
    margin: 20px 200px;
    gap: 15px;
}
.service-content{
    text-align: center;
}
.service-title{
    padding: 10px;
    color: #272727;
}
/* service-section-end  */

/* start-offer-section  */
.offer-es{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(216, 112, 147, 0.437);
    padding: 100px;
    margin-top: 100px;
}
.offer-content{
    width: 55%;
    text-align: center;
}
.offer-title{
    font-size: 50px;
}
/* end-offer-section  */
/* start-insta-section  */
.instagram-section{
    display: block;
    text-align: center;
    padding: 100px;
}
.insta-content{
    width: 50%;
    margin: auto;
}
.insta-photo-content{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
     gap: 15px;;
}
/* end-insta-section  */

/* start-deals-section  */
.deals-section{
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 150px;
    padding: 100px;
    text-align: center;
    
}
.deals-input{
    padding:20px 20px 20px 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.deals-title{
    font-size: 50px;
}
/* End-deals-section  */
.footer-content{
    display: block;
    margin: auto;
    text-align: center;
    padding: 100px;
    background-color: #272727;
    margin-top: 50px;
 
}
.footer-title{
    font-size: 50px;
    color: white;
}
.footer-paragraph{
    color: white;
}
.span-item{
    color: palevioletred;
}
.all-right-reserved{
    color: #c6c6c6bf;
    padding-top: 50px;
}
/* end-footer-section  */